html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  overflow: auto;
  /* scrollbar-gutter: stable; */
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
