html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  overflow: auto;
  /* scrollbar-gutter: stable; */
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  outline: none;
}

.tippy-box[data-theme~='default'] {
  > .tippy-arrow {
    color: #636e7b;
  }
  background-color: #636e7b;
  color: #c3cfdb;
}

.simplebar-vertical {
  > .simplebar-scrollbar::before {
    background-color: #CDD9E5;
  }
}

.simplebar-horizontal {
  height: 0.25rem !important;
  > .simplebar-scrollbar::before {
    background-color: #CDD9E5;
    bottom: 0;
  }
}
